<!doctype html>
<html>

<head>
    <title>Handlebars demo</title>
    {{!Layouts are great for putting "common" stuff in one place. For example, in this case we want all our pages to contain
    links to jQuery and Boostrap. }}

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.0.js" integrity="sha256-wPFJNIFlVY49B+CuAIrDr932XSb6Jk3J1M22M3E2ylQ=" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Bootstrap Theme CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>


    <link rel="stylesheet" href="styles/my-styles.css">
</head>

<body>

    <div class="container">

        {{!Might be a good idea to have our navbar in our main layout, so it's replicated across pages.}}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
                    <a class="navbar-brand" href="#">Web Lab 13 - Handlebars</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li {{#if home}}class="active"{{/if}}><a href="/">Home</a></li>
                        <li {{#if about}}class="active"{{/if}}><a href="/about">About</a></li>
                        <li {{#if contact}}class="active"{{/if}}><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        {{!This will be filled in with whatever view we want.}} {{{body}}}

    </div>
</body>

</html>