<!DOCTYPE html>
<html>

{{!This is a Handlebars comment. It will not appear in the generated HTML.}}

<!-- This is a normal HTML comment. It will appear in the rendered webpage. -->

<head>
    <title>Handlebars - Simple Example</title>

    <style>
        th, td {
            border: 1px solid black;
            text-align: left;
        }

        th {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <table>
        <tr>
            <th>Name</th>
            <td>{{name}}</td>{{!Will display the "name" property of the data that's passed through}}
        </tr>
        <tr>
            <th>Phone Number</th>
            <td>{{phoneNumber}}</td>{{!Will display the "phoneNumber" property of the data that's passed through}}
        </tr>
        <tr>
            <th>Some Escaped Data</th>
            <td>{{someEscapedData}}</td>{{!By default, any HTML tags will be escaped, and displayed rather than interpreted as HTML.}}
        </tr>
        <tr>
            <th>Some Unescaped Data</th>
            <td>{{{someUnescapedData}}}</td>{{!If you want to write out actual HTML, use three curly braces instead of two.}}
        </tr>
        <tr>
            <th>Email</th>
            <td><a href="mailto:{{email}}">{{email}}</a></td>{{!You can use the same piece of data more than once.}}
        </tr>
    </table>
</body>

</html>