<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">My Profile</h3>
            </div>
            <div class="panel-body">
                <p><img class="img-responsive centered-image" src="images/{{profilePic}}"></p>
                <table class="table table-striped">
                    <tr><th>Name</th><td>{{name}}</td></tr>
                    <tr><th>Phone Number</th><td>{{phoneNumber}}</td></tr>
                    <tr><th>Email</th><td><a href="mailto:{{email}}">{{email}}</a></td></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">About Me</h3>
            </div>
            <div class="panel-body">
                <p>{{aboutMe}}</p>
            </div>
        </div>
    </div>
</div>