 {{!If there are articles...}}
 {{#if articles}}
 
 {{!Loop through all the articles.}}
 {{#each articles}}

<div class="col-md-12">
    <div class="panel panel-default">

        <div class="panel-heading">
            {{!To display the ENTIRE item in the array, use "this" (see contact.handlebars). Or, you can display just one property of
            the item as follows.}}
            <h3 class="panel-title">{{title}}</h3>
        </div>
        <div class="panel-body">
            <p>{{content}}</p>
        </div>

    </div>
</div>

{{/each}}

{{!If there are NO articles...}}
{{else}}
<p>No articles!</p>
<img src="images/t-rex-cry.png">
{{/if}}